n8n-workflow-example.json
{
    "name": "CGB WhatsApp Bot",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "whatsapp-webhook",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-whatsapp",
            "name": "WhatsApp Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                240,
                300
            ]
        },
        {
            "parameters": {
                "model": "gpt-4",
                "messages": {
                    "messageValues": [
                        {
                            "role": "system",
                            "content": "Você é um assistente de RH da CGB Energia. Analise a mensagem do usuário e determine:\n1. Se é uma busca por vagas\n2. Extraia: cargo desejado, localização, experiência\n3. Retorne JSON: {\"action\": \"search_jobs\", \"query\": \"termo de busca\", \"location\": \"cidade\"}"
                        },
                        {
                            "role": "user",
                            "content": "={{ $json.body.text }}"
                        }
                    ]
                },
                "options": {
                    "temperature": 0.3
                }
            },
            "id": "openai-analysis",
            "name": "IA Analysis",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "url": "={{ $vars.SUPABASE_URL }}/functions/v1/whatsapp-integration",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer ={{ $vars.SUPABASE_ANON_KEY }}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "action",
                            "value": "search_jobs"
                        },
                        {
                            "name": "data",
                            "value": "={{ JSON.parse($node['IA Analysis'].json.choices[0].message.content) }}"
                        }
                    ]
                }
            },
            "id": "search-jobs",
            "name": "Search Jobs",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                680,
                300
            ]
        },
        {
            "parameters": {
                "model": "gpt-4",
                "messages": {
                    "messageValues": [
                        {
                            "role": "system",
                            "content": "Formate as vagas encontradas para WhatsApp de forma atrativa:\n- Use emojis\n- Máximo 3 vagas\n- Inclua botões numerados\n- Seja conciso e profissional"
                        },
                        {
                            "role": "user",
                            "content": "Vagas encontradas: ={{ JSON.stringify($json.jobs) }}"
                        }
                    ]
                }
            },
            "id": "format-response",
            "name": "Format Response",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "authentication": "headerAuth",
                "url": "https://graph.facebook.com/v17.0/{{ $vars.WHATSAPP_PHONE_ID }}/messages",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer ={{ $vars.WHATSAPP_ACCESS_TOKEN }}"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "messaging_product",
                            "value": "whatsapp"
                        },
                        {
                            "name": "to",
                            "value": "={{ $node['WhatsApp Webhook'].json.body.from }}"
                        },
                        {
                            "name": "type",
                            "value": "text"
                        },
                        {
                            "name": "text",
                            "value": "{{ $node['Format Response'].json.choices[0].message.content }}"
                        }
                    ]
                }
            },
            "id": "send-whatsapp",
            "name": "Send WhatsApp",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 3,
            "position": [
                1120,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "OK"
            },
            "id": "respond-webhook",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1340,
                300
            ]
        }
    ],
    "connections": {
        "WhatsApp Webhook": {
            "main": [
                [
                    {
                        "node": "IA Analysis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IA Analysis": {
            "main": [
                [
                    {
                        "node": "Search Jobs",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Search Jobs": {
            "main": [
                [
                    {
                        "node": "Format Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Response": {
            "main": [
                [
                    {
                        "node": "Send WhatsApp",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Send WhatsApp": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 1,
    "updatedAt": "2025-01-01T12:00:00.000Z",
    "versionId": "1"
}